
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
header {
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 2;
}

.nav div .logoName {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logoName a {
    text-decoration: none;
    color: skyblue;
    font-size: 2.5rem;
}

.nav div.logoName a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: skyblue;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.homeSec {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}




/* DivHeader section > Writing Programmer Lines */

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	header .myP {
		padding:2%;
	}
}


.divHeader {
    height: calc(100vh);
    scroll-snap-align: start;
    color: #DDD;
    position: relative;
    /* background-image: url(https://image.freepik.com/free-photo/aerial-view-of-computer-laptop-on-wooden-table-photography-hobby-concept_53876-20659.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hrHeader {
    background-color: white; 
    width: 90%; 
    height: 2px; 
    border-radius: 3px;
}
  
.sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.divHeader {
    font-family: 'Montserrat';
    margin: 0;
}
  
.presentationHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    font-weight: 520;
}
  
.sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
        top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,.4);
      clip-path: polygon(10% 10%, 95% 10%, 90% 50%, 10% 90%);
}
  
.sec-header>h1 {
    font-size: 6rem;
    text-align: center;
}
  
.half-header {
    flex-basis: 40%;
}
  
.half-header-r {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.avatar {
    text-align: right;
}
  
.divHeader p {
    text-align: left;
    font-size: 2.5em;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
  
.divHeader span {
    color: #fff;
    font-weight: bold;
}
  
.line1Header {
    color: #9cd9f0;
    animation: type 0.5s 1s steps(20, end) forwards;
}
  
.line2Header {
    color: #9cd9f0;
    animation: type 0.5s 2.25s steps(20, end) forwards;
}

  
.line3Header {
    color: #9cd9f0;
    animation: type 0.5s 3.5s steps(20, end) forwards;
}
  
.line4Header {
    color: #9cd9f0;
    animation: type 0.5s 4.75s steps(20, end) forwards;
}
  
.cursor1Header {
    animation: blink 1s 8.5s infinite;
}
  
@keyframes type {
    to {
      width: 17em;
    }
}
  
@keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}



/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header .container {
        margin: 0;
    }
}
@media screen and (min-width: 1400px) {
.container {
    width: 100%;
}
}

@media screen and (max-width:768px) {
    header .navTrigger {
        display: block;
    }
    header .nav div.logoName {
        margin-left: 15px;
    }
    header .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    header .nav div.show_list {
        height: auto;
        display: none;
    }
    header .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        opacity: 80%;
        /*same background color of navbar*/
        background-position: center top;
    }
    header .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    header .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media screen and (max-width:1024px) {
    header .sec-header {
    clip-path: none;
    }
}
