#contact {
    background-image: url("./assets/world.png");
    background-size: cover;
}

.contact-section-text {
    font-size: 1.5em;
    text-align: center;
}

.contact-section {
    margin: 0 auto;
}

.contact-section article{
    padding: 20px;
    border-radius: 50%;
    border: 2px solid black;
}
.contact-section article i {
    font-size: 3em;
}
.contact-section article a {
    color: black;
}
.contact-section article a:hover {
    color:rgba(200, 206, 201, 0.904);
}